body {
    background-image: url("sean-oulashin-KMn4VEeEPR8-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #271604;  
}

h1{
    font-size: 5vw;
    margin:0
}

h3{
    font-size: 28px;
}

header {
    text-align: center;
    font-family: 'Gaegu';
    font-size: large;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.wrapper{
    display: flex;
    gap: 10vw;
    justify-content: space-between;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 20
}

.playPause{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 5px;
}

.soundSection{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5vw;
    padding-left: 5vw;
    margin-top: 10vh;
    gap: 5vh;
}

.sound-headers {
    position: relative;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Gaegu';
}

.volume-slider{
    -webkit-appearance: none;
    width: 200px;
    height: 2px;
    background: black;
    border-radius: 5px;
    margin: 0px;
    outline: none;
    cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.sound-input {
    text-align: right;
    display: flex;
    align-items: center;
    gap: 5px;
}

.todo{
    font-family: 'Gaegu';
    max-width: 30vw;
}

.spotify {
    margin: 30px;
}

#addTask{
    font-family: 'gaegu';
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #fffefdbc;
}

#addTaskButton{
    font-family: "Lato", sans-serif;
    background-color: #271604;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

#taskList{
    font-family: 'gaegu';
    list-style-type: none;
    padding-left: 0;
    background-color: #fffefdbc;
    border-radius: 8px;
    padding: 5px;
    font-size: 18px;
}